@import "/src/style/variables";

.statistic {
	position: relative;
	z-index: 2;
	text-align: center;

	&__title {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2;
	}

	&__list {
		list-style: none;
		margin-top: 42px;
	}

	&__item {
		padding: 8px;

		&:not(:last-child) {
			border-bottom: 1px solid $white;
			margin-bottom: 8px;
		}
	}

	&__name {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;
		color: $primary;

		margin-bottom: 12px;
	}

	&__value {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
	}
}