@import "/src/style/variables";

.registrationForm {
	&__title {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		color: $primary;

		margin-bottom: 18px;
	}

	&__description {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;

		margin-bottom: 36px;
	}

	&__text {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2;
		color: $primary;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__inputField {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		width: 100%;

		margin-bottom: 18px;

		&:last-child {
			margin-bottom: 24px;
		}
	}

	&__label {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;

		cursor: pointer;
		margin-bottom: 8px;
	}

	&__input {
		border-radius: 30px;
		border: 1px solid $white;
		background: transparent;
		padding: 12px 18px;
		opacity: 0.5;
		outline: none;
		transition: all 0.5s ease 0s;

		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
		color: $white;

		&::placeholder {
			opacity: 0.5;
		}

		&:hover,
		&:focus,
		&:invalid {
			opacity: 1;
		}

		&:invalid {
			border-color: $primary;
		}
	}
}