@import "/src/style/variables";

.notificationModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: 422px;
	padding: 48px;
	text-align: center;
	background-color: #262628;

	&__title {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		color: $primary;

		margin-bottom: 29px;
	}

	&__description {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;

		margin-bottom: 58px;
	}

	&__link {
		color: $primary;
	}
}