.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	background: rgba(23, 23, 23, 0.81);
}