@import "/src/style/variables";

.participationList {
	width: 100%;

	&__title {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;

		margin-bottom: 20px;
	}

	&__table {
		width: 100%;
	}

}

.table {
	width: 100%;

	&__header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__label {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
		padding: 16px 0;
	}

	&__body {
		width: 100%;
		height: 500px;
		list-style: none;
		overflow-y: auto;
		padding-right: 26px;
	}

	&__row {
		padding: 16px 0;
		border-top: 1px solid $white;
	}

	&__item {
		position: relative;
		z-index: 1;

		display: grid;
		grid-template-columns: repeat(3, 1fr);

		p {
			color: $white;
		}

		&_active {
			p {
				color: $primary;
			}
		}
	}

	&__delete {
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 1;
		transform: translateY(-50%);
		width: 8px;
		height: 8px;
		border: none;
		cursor: pointer;
		background: transparent;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;

			width: 150%;
			border-radius: 2px;
			border: 1px solid $white;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	::-webkit-scrollbar {
		width: 3px;

		&-track {
			width: 1px;
			background: $white;
		}

		&-thumb {
			border-radius: 2px;
			background: $primary;
		}
	}
}