@import "/src/style/variables";

.button {
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	color: $white;

	cursor: pointer;
	border: none;
	outline: none;
	padding: 10px 24px;
	border-radius: 30px;
	background-color: $primary;
	transition: all 0.5s ease 0s;

	&:hover {
		background-color: #BE3B10;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: $primary;
	}
}