@import "/src/style/variables";

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(10px);

	width: 100%;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px;
	}

	&__logo {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		color: $white;

		padding: 10px 86px;
		background-color: #5A5A5A;
		border: 1px dashed #C7C7C7;
	}

	&__userAddress {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		color: $primary;
	}
}