@import "/src/style/variables";

.indexPage {
	&__content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 24px;

		width: 100%;
		height: 100%;
	}

	&__intro {
		grid-column: 1 / -1;
	}

	&__registration {
		grid-column: 1 / 5;
	}

	&__participationList {
		grid-column: 6 / 13;
	}
}