@import "/src/style/variables";

.intro {
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 48px;
	column-gap: 24px;

	margin: 108px 0;
	padding-top: 188px;

	&__title {
		grid-column: 1 / 11;

		position: relative;
		z-index: 1;
		pointer-events: none;

		h1 {
			font-size: 115px;
			font-weight: 700;
			line-height: 1.2;
			letter-spacing: 2px;
		}

		span {
			color: #171719;
			text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
				1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
		}

		&::after {
			content: 'Explore Your own planet\AIn our New metaverse';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			color: $primary;
			clip-path: circle(160px at 75% 50%);
			pointer-events: none;

			font-size: 115px;
			font-weight: 700;
			line-height: 1.2;
			letter-spacing: 2px;
		}
	}

	&__description {
		grid-column: 1 / 11;

		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;

		max-width: 420px;
	}

	&__statistic {
		grid-column: 11 / 13;
		grid-row: 1 / 3;
	}
}

.planet {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: -1;
	transform: translateY(-50%);

	width: 526px;
	height: 526px;
	border-radius: 50%;
	pointer-events: all;
	cursor: grab;
	background-color: #1E1E20;

	&__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		pointer-events: none;
		transform: translate(-50%, -50%);

		width: 446px;
		height: 446px;
		border-radius: inherit;
		background-color: #212124;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);

			border-radius: inherit;
			border: 1px solid #323232;
		}

		&::before {
			width: 85%;
			height: 85%;
		}

		&::after {
			width: 80%;
			height: 80%;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		transform: translate3d(263px, 263px, 0px) translate3d(-50%, -50%, 0px);

		width: 320px;
		height: 320px;
		border-radius: inherit;
		pointer-events: none;
		transition: all 1s ease-out 0s;
	}

	&__progress {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);

		width: 100%;
		height: 100%;
		pointer-events: none;
		border-radius: inherit;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			border-radius: inherit;
		}

		&::after {
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: #1E1E20;
			clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
		}

		&::before {
			width: 486px;
			height: 486px;
			z-index: 1;
			border: 1px solid $primary;
			clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

			animation: rotation 10s linear 0s 1 forwards;

			@keyframes rotation {
				from {
					transform: translate(-50%, -50%) rotate(0);
				}

				to {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}
	}

	&__date {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 3;
		transform: translate(-70%, 5px);

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 8px;

		padding: 8px 12px;
		border-radius: 15px;
		background-color: $white;

		p {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.0;
			color: #171719;
		}

		span {
			position: relative;
			z-index: 1;

			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			box-shadow: -2px -2px 6px rgba(50, 50, 50, 0.25), 2px 2px 6px rgba(50, 50, 50, 0.25);

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%);

				width: 50%;
				height: 50%;
				border-radius: inherit;
				background-color: $primary;
			}
		}
	}

	&__dot {
		position: absolute;
		z-index: 3;

		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;

		background-color: #212124;

		&:first-of-type {
			top: 50%;
			right: 17px;
			animation-delay: 5s;
		}

		&:last-of-type {
			left: 50%;
			bottom: 17px;
			animation-delay: 10s;
		}

		animation: reveal 1s linear 0s 1 forwards;

		@keyframes reveal {
			50% {
				transform: scale(1.5);
				background-color: $primary;
			}

			100% {
				transform: scale(1);
				background-color: $primary;
			}
		}
	}
}