@import "/src/style/variables";

.userPage {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		width: 100%;
		height: 100%;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;

		margin-bottom: 48px;
	}

	&__info {
		position: relative;
		z-index: 2;
	}

	&__infoItem {
		&:not(:last-child) {
			margin-bottom: 22px;
		}
	}

	&__name {
		font-size: 24px;
		margin-bottom: 8px;
	}

	&__value {
		font-size: 32px;
		color: $primary;
	}
}

.planet {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 1;
	transform: translate(30%, -50%);

	width: 526px;
	height: 526px;
	border-radius: 50%;
	pointer-events: all;
	cursor: grab;
	background-color: #1E1E20;

	&__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		pointer-events: none;
		transform: translate(-50%, -50%);

		width: 446px;
		height: 446px;
		border-radius: inherit;
		background-color: #212124;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);

			border-radius: inherit;
			border: 1px solid #323232;
		}

		&::before {
			width: 85%;
			height: 85%;
		}

		&::after {
			width: 80%;
			height: 80%;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		transform: translate3d(263px, 263px, 0px) translate3d(-50%, -50%, 0px);

		width: 320px;
		height: 320px;
		border-radius: inherit;
		pointer-events: none;
		transition: all 1s ease-out 0s;
	}

	&__progress {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);

		width: 100%;
		height: 100%;
		pointer-events: none;
		border-radius: inherit;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			border-radius: inherit;
		}

		&::after {
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: #1E1E20;
			clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
		}

		&::before {
			width: 486px;
			height: 486px;
			z-index: 1;
			border: 1px solid $primary;
			clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

			animation: rotation 10s linear 0s 1 forwards;

			@keyframes rotation {
				from {
					transform: translate(-50%, -50%) rotate(0);
				}

				to {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}
	}

	&__dot {
		position: absolute;
		z-index: 3;

		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: $primary;

		&:first-of-type {
			top: 17px;
			left: 50%;
			animation-delay: 5s;
		}

		&:last-of-type {
			left: 50%;
			bottom: 17px;
			animation-delay: 10s;
		}

	}
}