@import "/src/style/variables";

*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Bebas Neue', cursive;

	color: $white;
	background-color: #171719;
}

a {
	text-decoration: none;
}

main {
	flex: 1 1 auto;

	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: stretch;

	width: 100%;
	margin-bottom: 86px;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 64px;
}